*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#667eea,#764ba2);
}

.player{
    width:380px;
    background:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.player img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    margin-bottom:15px;
}

h1{
    margin-bottom:15px;
}

h2{
    color:#333;
    margin-top:10px;
}

h3{
    color:#777;
    margin:5px 0;
}

.controls{
    margin:20px 0;
}

.controls button{
    font-size:28px;
    border:none;
    background:none;
    cursor:pointer;
    margin:0 15px;
    transition:0.3s;
}

.controls button:hover{
    transform:scale(1.2);
}

#progress{
    width:100%;
    cursor:pointer;
}

.time{
    display:flex;
    justify-content:space-between;
    margin-top:5px;
}

.volume-section{
    margin-top:15px;
}

#volume{
    width:70%;
}

#playlist{
    list-style:none;
    margin-top:15px;
    max-height:150px;
    overflow-y:auto;
}

#playlist li{
    padding:10px;
    cursor:pointer;
    border-bottom:1px solid #ddd;
}

#playlist li:hover{
    background:#f1f1f1;
}

.active{
    background:#667eea;
    color:white;
}